html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* This kills the main page scroll */
}
.stack-container {
    
    &::-webkit-scrollbar { display: none; }
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    
    overflow-y: auto;
    width: 100%;             
    max-width: 1300px;
    height: 100%;
    overflow-y: auto;           
    margin: 0 auto;          
    border: none;
    padding: 2rem;
    position: relative;
    padding: 1vh 1rem 5vh 6rem; 
    box-sizing: border-box;
}

.main-container{
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    height: 95vh;
    padding: 0 1rem;
    height: 95vh;
    width: 90vw;
    overflow: hidden;

}

.card {
    position: sticky;
    top: 10vh; 
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-bottom: 6vh;
    will-change: transform, filter;
    padding: 0%;
}

.card-inner {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 60vh;
    border: 1px solid rgb(30, 160, 51);
    border-radius: 30px;
    padding: 40px;
    color: white;
    overflow-y: auto;
    
    
}

@media (max-width: 768px) {
    .stack-container {
        padding: 1rem;
        height: 90vh;
    }
    
    .card {
        height: 50vh; 
        top: 2vh;
    }

    .card-inner {
        padding: 20px; 
    }
}
