.stack-container{
    padding: 100px 0 500px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    background: #ce3535;

}

.card{
    position: sticky;
    width: 90%;
    max-width: 500px;
    height: 350px;
    will-change: transform, filter;
    transition: transform 0.1s ease-out;
}

.card-inner{
    height: 100%;
    background: linear-gradient(145deg, #cfc0c0, #7e3db3);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    padding: 40px;
    color: white;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}
