<div class="main-container">
    <div class="stack-container">
        @for (card of cards; track card.id; let i = $index) {
            <div class="card" appProjectsTab [stackFactor]="0.05">
                <div class="card-inner" [style.background]="card.color || '#222'" >
                    <div class="card-text"><span>0{{i+1}}</span>
                        @if (card.git_link){
                            <a [href]="card.git_link" target="_blank">
                                <div class="git-logo">
                                    <img [src]="card.git">
                                </div>
                            </a>
                        }@else {
                            <!-- TODO: Make the "Code Upon Request clickable to my email" -->
                            <div class="no-link">
                                <a (click)="openEmail()">
                                    Code Upon Request
                                </a>
                            </div>
                        }
                        <h2>{{card.title}}</h2>
                        
                        <p>{{card.description}}</p>
                        <ul>
                            <li>{{card.bulletPoints}}</li>
                        </ul> 
                </div>

                    <div class="card-media">
                        <img [src]="card.image" [alt]="card.title">
                    </div>
                </div>
                    
                

            </div>
            
        } 
    </div>

</div>


