.split-screen{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.image-container{
    width: 400px;
    height: 800px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 30vw;
    padding: 0;

    .self-picture{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 2rem;
        padding-top: 13px;
        /* color:#00FF41;
        color: #ca033f */
    }
    
}

.image-container img{
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 800px;
    height: 620px;
    border-radius: 12px;
    padding: 10px;
}

/* timeline css start of the code */
.timeline-wrapper{
    flex: 1;
    height: 100%;
    overflow-y: auto;
    padding: 4rem 2rem; /* Added horizontal padding */
    
    display: flex;          /* Add this - it was missing! */
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(
            to bottom,
            #fff 0,
            rgba(53, 53, 53) 95%
        );
        margin-bottom: 2rem;
    }
}

.timeline-title {
    font-size: 3rem;
    color: #929292;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.timeline-content {
    font-size: 1rem;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-content ul {
    padding: 1rem 0 0 1rem;
    list-style-type: circle;
}

.timeline-content li {
    margin-bottom: 0.5rem;
}

om-timeline {
    width: 100%;
    display: block;
}